@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a8dadc;
  font-family: "Source Sans Pro", sans-serif;
}

.heading {
  color: #1d3557;
  margin: 0 auto;
  text-align: center;
}

.editor .editorLabel,
.previewer .previewLabel {
  text-align: center;
  color: #1d3557;
}
.app {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

textarea {
  font-family: inherit;
  width: 400px;
  background: #f1faee;
  outline: none;
  border: 1px solid rgb(130, 130, 130);
  border-radius: 5px;
  padding: 20px;
  font-size: 22px;
  min-height: 560px;
}

.preview {
  width: 400px;
  background-color: #f1faee;
  padding: 0 20px;
  min-height: 600px;
}
